#slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 45rem;
}

.slide {
    display: flex;
    flex: 0 1 17%;
    border: 1px solid black;
    margin: .5rem;
    height: 30%;
    overflow: hidden;
}

.slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#gallery {
    padding: 4rem 1rem;
}