.tuesday_conteiner {
    display: flex;
}

.tuesday_img {
    flex: 0 0 50%;
}

.tuesday_img img {
    object-fit: cover;
    width: 100%;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
}

.tuesday_heading_div {
    width: fit-content;
    background: ivory;
    padding: 2vw 3vw;
    margin-left: -30%;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-style: italic;
    text-align: center;
}

.tuesday_heading {
    font-size: 2vw;
}

.tuesday_content {
    display: flex;
    justify-content: end;
    align-self: center;
    text-align: justify;
    flex-direction: column;
    flex: 0 0 50%;
    padding-left: 1rem;
}

.tuesday_p {
    padding-top: .5rem;
}

.heading_offer {
    font-size:2.3rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-style: italic;
    text-align: center;
    padding: 3rem 0;
    color:rgb(41, 41, 41);
}

.launch_offers {
    display: flex;
    justify-content: space-between;
    height: 34rem;
}

.offer_boxes img {
    object-fit: cover;
    width: 100%;
    height: 22rem;
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.75);
}

.offer_boxes {
    display: flex;
    flex: 0 0 47%;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
    height: 33rem;
    
}
 

.heading_offer_menu {
    padding: 1rem 0 .5rem 0;
    font-size:1.5rem;
    text-transform: uppercase;
    color:rgb(31, 31, 31);
}

.p_offer_menu {
    padding: 0.3rem 0.5rem;
}

.weekly_offers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.from-right {
    transform: translateX(-50%);
}

.from-left {
    transform: translateX(50%);
}

.from-left, .from-right {
    transition: opacity .3s ease-in, transform .5s ease-in;
    opacity: 0;
}

.from-left.appear, .from-right.appear {
    transform: translateX(0);
    opacity: 1;
}