@import url('header.css');
@import url('home.css');
@import url('offers.css');
@import url('menu.css');
@import url('gallery.css');
@import url('contacts.css');

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: 16px/1.3 "Nunito", sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
}







#direction.map {}

/* #map{
    width:50vw;
    height: 50vh;
    border: 2px solid #333;
} */
 