.visit_conteiner {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}

.reservetion {
    display: flex;
    text-align: center;
    padding-top: 3rem;
    flex-direction: column;
}

.p_reservation {
    padding: .5rem 0 1rem 0;
    font-size:1.3rem;
}

.heading_reservation {
    color: rgb(41, 41, 41);
    font-size:1.8rem;
}

.open_table {
    display: flex;
    flex-direction: column;
    background: rgb(41, 41, 41);
    box-shadow: 0px 1px 9px 2px rgba(0, 0, 0, 0.75);
    color: rgb(226, 226, 226);
    font-weight: 600;
    position: relative;
    width: 50%;
    padding: 2rem;
    margin: 0 auto;
}

.p_table {
    padding-bottom: 1rem;
    font-size: 10px;
}

#table {
    margin: 0 auto;
    padding: .5rem 1rem;
    text-decoration: none;
    background: rgb(255, 255, 255);
    color: black;
    transition: .4s;
    cursor: pointer;
    font-size:1.2rem;
}

#table:hover {
    background: rgb(189, 189, 189);
    transition: .4s;
}